<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}" />
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <div class="container">
        <h2>Editar Teléfono</h2>
        <form th:action="@{/telefono/guardar}" th:object="${telefono}" method="POST" class="was-validated">
            <input type="hidden" th:field="*{telefonoId}" />
            <label>Cliente</label>
            <input type="number" th:field="*{clienteId}" class="form-control" required />
            <label>Teléfono</label>
            <input type="text" th:field="*{telefono}" class="form-control" required />
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html>