<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}" />
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <div class="container">
        <h2>Editar Descuento</h2>
        <form th:action="@{/descuento/guardar}" th:object="${descuento}" method="POST" class="was-validated">
            <input type="hidden" th:field="*{descuentoId}" />
            <label>Producto</label>
            <input type="number" th:field="*{productoId}" class="form-control" required />
            <label>Descuento</label>
            <input type="number" th:field="*{descuento}" step="0.01" class="form-control" required />
            <label>Fecha Inicio</label>
            <input type="date" th:field="*{fechaInicio}" class="form-control" required />
            <label>Fecha Fin</label>
            <input type="date" th:field="*{fechaFin}" class="form-control" required />
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html>