<section th:fragment="listadoPedidos">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Método de Pago</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Fecha Estimación</th>
                            <th>Fecha Pedido</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td>[[${pedido.pedidoId}]]</td>
                            <td>[[${pedido.metodoPagoId}]]</td>
                            <td>[[${pedido.clienteId}]]</td>
                            <td>[[${pedido.estadoPedido}]]</td>
                            <td>[[${pedido.fechaEstimacion}]]</td>
                            <td>[[${pedido.fechaPedido}]]</td>
                            <td>
                                <a th:href="@{/pedido/modifica/}+${pedido.pedidoId}" class="btn btn-success">Editar</a>
                                <a th:href="@{/pedido/eliminar/}+${pedido.pedidoId}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>