<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}" />
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <div class="container">
        <h2>Editar Pedido</h2>
        <form th:action="@{/pedido/guardar}" th:object="${pedido}" method="POST" class="was-validated">
            <input type="hidden" th:field="*{pedidoId}" />
            <label>Método de Pago</label>
            <input type="number" th:field="*{metodoPagoId}" class="form-control" required />
            <label>Cliente</label>
            <input type="number" th:field="*{clienteId}" class="form-control" required />
            <label>Estado</label>
            <input type="text" th:field="*{estadoPedido}" class="form-control" required />
            <label>Fecha Estimación</label>
            <input type="date" th:field="*{fechaEstimacion}" class="form-control" />
            <label>Fecha Pedido</label>
            <input type="date" th:field="*{fechaPedido}" class="form-control" required />
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html> 