<section th:fragment="listadoDetallesPedido">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pedido</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detalle : ${detallesPedido}">
                            <td>[[${detalle.detallePedidoId}]]</td>
                            <td>[[${detalle.pedidoId}]]</td>
                            <td>[[${detalle.productoId}]]</td>
                            <td>[[${detalle.cantidad}]]</td>
                            <td>
                                <a th:href="@{/detallePedido/modifica/}+${detalle.detallePedidoId}" class="btn btn-success">Editar</a>
                                <a th:href="@{/detallePedido/eliminar/}+${detalle.detallePedidoId}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>