<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}" />
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <div class="container">
        <h2>Editar Detalle de Pedido</h2>
        <form th:action="@{/detallePedido/guardar}" th:object="${detallePedido}" method="POST" class="was-validated">
            <input type="hidden" th:field="*{detallePedidoId}" />
            <label>Pedido</label>
            <input type="number" th:field="*{pedidoId}" class="form-control" required />
            <label>Producto</label>
            <input type="number" th:field="*{productoId}" class="form-control" required />
            <label>Cantidad</label>
            <input type="number" th:field="*{cantidad}" class="form-control" required />
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html>