<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Gestión de Clientes</title>
</head>
<body>
    <!-- Botón de agregar nuevo cliente -->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#cliente">
                        <i class="fas fa-plus"></i> [[#{cliente.agregar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal para agregar cliente -->
    <section th:fragment="agregarClientes">
        <div id="cliente" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">[[#{cliente.agregar}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/cliente/guardar}" th:object="${cliente}" method="POST" class="was-validated">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="nombre">[[#{cliente.nombre}]]</label>
                                <input type="text" class="form-control" name="nombre" required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="primerApellido">[[#{cliente.primerApellido}]]</label>
                                <input type="text" class="form-control" name="primerApellido" required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="segundoApellido">[[#{cliente.segundoApellido}]]</label>
                                <input type="text" class="form-control" name="segundoApellido" required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="correo">[[#{cliente.correo}]]</label>
                                <input type="email" class="form-control" name="correo" required="true" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>