<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}" />
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <div class="container">
        <h2>Editar Proveedor</h2>
        <form th:action="@{/proveedor/guardar}" th:object="${proveedor}" method="POST" class="was-validated">
            <input type="hidden" th:field="*{proveedorId}" />
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" required />
            <label>Primer Apellido</label>
            <input type="text" th:field="*{primerApellido}" class="form-control" />
            <label>Segundo Apellido</label>
            <input type="text" th:field="*{segundoApellido}" class="form-control" />
            <label>Contacto</label>
            <input type="text" th:field="*{contacto}" class="form-control" required />
            <label>Condiciones de Compra</label>
            <textarea th:field="*{condicionesCompra}" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html>