<section th:fragment="listadoPrecios">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Fecha Vigencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="precio : ${precios}">
                            <td>[[${precio.precioId}]]</td>
                            <td>[[${precio.productoId}]]</td>
                            <td>[[${precio.precio}]]</td>
                            <td>[[${precio.fechaVigencia}]]</td>
                            <td>
                                <a th:href="@{/precio/modifica/}+${precio.precioId}" class="btn btn-success">Editar</a>
                                <a th:href="@{/precio/eliminar/}+${precio.precioId}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>