<section th:fragment="listadoMetodosPago">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="metodoPago : ${metodosPago}">
                            <td>[[${metodoPago.metodoPagoId}]]</td>
                            <td>[[${metodoPago.descripcionPago}]]</td>
                            <td>
                                <a th:href="@{/metodoPago/modifica/}+${metodoPago.metodoPagoId}" class="btn btn-success">Editar</a>
                                <a th:href="@{/metodoPago/eliminar/}+${metodoPago.metodoPagoId}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>